@model ShoppingWebsite.Models.Collection

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/Admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/Admin/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title" style="color:white">Collection Details</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="collectionName" class="col-sm-2 col-form-label">Collection ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" id="collectionName" value="@Model.collectionID">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="collectionName" class="col-sm-2 col-form-label">Collection Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" id="collectionName" value="@Model.collectionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="description" class="col-sm-2 col-form-label">Description</label>
                                    <div class="col-sm-10">
                                        <textarea readonly class="form-control-plaintext" id="description" rows="3">@Model.description</textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <a href="@Url.Action("Edit", "Collections", new { id = Model.collectionID })" class="btn btn-primary">Edit</a>
                                <a href="@Url.Action("CollectionList", "AdminHome")" class="btn btn-secondary">Back</a>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Content/Admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/Admin/dist/js/adminlte.min.js"></script>
</body>
</html>
